<nav class="navbar">
    <div class="navbar-links">
        <a href="index" class="nav-item">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
        <a href="Resources" class="nav-item">
           <i class="fas fa-user-graduate"></i>
            <span>Resources</span>
        </a>
        <a href="NEC-license-preparation" class="nav-item">
           <i class="fas fa-id-card-alt"></i>
            <span>NEC License</span>
        </a>
        <a href="Psc-preparation" class="nav-item">
          <i class="fas fa-map-marked-alt"></i> 
            <span>Loksewa</span>
        </a>
        <a href="aboutus" class="nav-item">
            <i class="fas fa-info-circle"></i>
            <span>About Us</span>
        </a>
        <a href="contactus" class="nav-item">
            <i class="fas fa-envelope"></i>
            <span>Contact Us</span>
        </a>
    </div>
</nav>
