<nav class="navbar">
    <div class="navbar-links">
        <a href="index" class="nav-item">
            <span>Home</span>
        </a>
        <a href="Resources" class="nav-item">
            <span>Resources</span>
        </a>
        <a href="NEC-license-preparation" class="nav-item">
            <span>NEC License</span>
        </a>
        <a href="Psc-preparation" class="nav-item">
            <span>Loksewa</span>
        </a>
        <a href="aboutus" class="nav-item">
            <span>About Us</span>
        </a>
        <a href="contactus" class="nav-item">
            <span>Contact Us</span>
        </a>
    </div>
</nav>
