<section class="social-media">
    <h2><i class="fab fa-connectdevelop"></i> Connect with Us</h2>
    <p>Follow us on social media to stay updated with the latest resources and news.</p>

      <div class="icons">
                <a href="https://www.facebook.com/CivPrepMaster" target="_blank" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://chat.whatsapp.com/FwApQq8YKkaECeLdHtSG6P" target="_blank" aria-label="whatsapp"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.youtube.com/@Civprepmaster" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
                <a href="mailto:info@arunpanthi.com.np" target="_blank" aria-label="Email"><i class="fas fa-envelope"></i></a>
      </div>
</section>
