# Leverage Browser Caching
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
</IfModule>
# Force WWW (example: https://www.arunpanthi.com.np)
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

# OR Force Non-WWW (example: https://arunpanthi.com.np)
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]


# Auto-inject favicon loader
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} \.html$ [NC]
    RewriteRule ^ - [ENV=INJECT_FAVICON:true]
</IfModule>

<IfModule mod_headers.c>
    Header add Link '<https://arunpanthi.com.np/logo.ico>; rel="icon"; type="image/x-icon"' env=INJECT_FAVICON
</IfModule>
<IfModule mod_headers.c>
    Header set Link "<https://arunpanthi.com.np/logo.ico>; rel=icon; type=image/x-icon"
</IfModule>
location ~ \.html$ {
    add_header Link '<https://arunpanthi.com.np/logo.ico>; rel=icon; type=image/x-icon';
}



